# MongoDB
DB_URI="mongodb://username:password@shard-00-00.mongodb.net:27017,shard-00-01.mongodb.net:27017,shard-00-02.mongodb.net:27017/dbname?ssl=true&replicaSet=atlas-shard-0&authSource=admin"


# Cloudinary
CLOUD_NAME=dlvyxeizm
API_KEY=813486431626648
API_SECRET=xuFl6cic8TP1qe0gEGXZdfG2aX4

# App Settings
PORT=7000
NODE_ENV=production
SALT_ROUND=8
